.header {
    padding: 20px 0 30px;
    text-align: center;

    &__title {
        margin: 0 0 10px;
        font-family: 'latoblack';
        font-size: rem(56px);
        letter-spacing: 9px;
        color: #fff;
        text-shadow: longshadow(darken($bgRed,24%), $bgRed, 30, 0.5);
    }

    &__sub {
        display: inline-block;
        padding: 4px 30px 6px;
        font-family: 'latoheavy';
        font-size: rem(20px);
        letter-spacing: 2px;
        box-shadow: longshadow(darken($bgRed,16%), $bgRed, 30, 0.5);
        background-color: $bgYellow;
    }
}